<div>
    <title title=""></title>
    <h1 title=""></h1>
    <%- messages() %>
    <form class="login">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"value="fakeemail@false.com">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"value="password">
        <input type="submit" value="Submit">
    </form>
    <p>No account? <a>Sign-up</a></p>
</div>