#inv-display {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if the container is too narrow */
    gap: 20px; /* Add spacing between grid items */
    margin-top: 20px;
}

#inv-display li {
    flex: 0 0 calc(33.33% - 20px);
    list-style: none; /* Remove default list styling */
    width: 200px; /* Set a fixed width for uniformity */
}

#inv-display img {
    width: 100%; /* Make images fill the entire width of the container */
    height: 300px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Ensure the image covers the entire space, preserving aspect ratio */
    border-radius: 8px; /* Add border-radius for rounded corners if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
   
#inv-display li:hover img {
    transform: scale(1.1); /* Enlarge the image on hover */
}


#inv-display li a {
    text-decoration: none; /* Remove underlines from links */
    font-size: 14px; /* Set font size to 14px */
    color: inherit; /* Inherit color from the parent element */
}


#inv-display li:hover a {
    color: #01b0d2; /* Change the color to your desired hover color */
}


@media (max-width: 1200px) {
    
    
    #inv-display img {
        width: 100%; /* Make images fill the entire width of the container */
        height: 150px; /* Set a fixed height for uniformity */
        object-fit: cover; /* Ensure the image covers the entire space, preserving aspect ratio */
        border-radius: 8px; /* Add border-radius for rounded corners if desired */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
        transition: transform 0.3s ease; /* Add a smooth transition effect */
    }
}

@media (max-width: 768px) {
    
    
    #inv-display img {
        width: 100%; /* Make images fill the entire width of the container */
        height: 150px; /* Set a fixed height for uniformity */
        object-fit: cover; /* Ensure the image covers the entire space, preserving aspect ratio */
        border-radius: 8px; /* Add border-radius for rounded corners if desired */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
        transition: transform 0.3s ease; /* Add a smooth transition effect */
    }
}


@media (max-width: 600px) {
    
    
    #inv-display img {
        width: 100%; /* Make images fill the entire width of the container */
        height: 100px; /* Set a fixed height for uniformity */
        object-fit: cover; /* Ensure the image covers the entire space, preserving aspect ratio */
        border-radius: 8px; /* Add border-radius for rounded corners if desired */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
        transition: transform 0.3s ease; /* Add a smooth transition effect */
    }
}