/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lora', serif;
  font-family: 'Noto Sans Meroitic', sans-serif;
}

.white-layer {
  background-color: white;
  padding: 0px;
}

/* Add some styling to the funny error message */
.funny-error-message {
  background-color: #ffcccc; /* Light red background */
  border: 2px solid #ff6666; /* Darker red border */
  padding: 15px; /* Padding around the content */
  margin: 20px 0; /* Margin for spacing */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  font-family: 'Lora', serif; /* Use the specified font */
  color: #333; /* Dark text color */
}

.car-display {
  display: flex;
  align-items: center;
  width:100%;
}

.car-info {
  background-color: rgba(255, 255, 255, 0.7);
  color: #01b0d2;
  padding: 0px;
  z-index: 1;
}

.car-info h4 {
  margin: 0px;
}

.car-image {
  margin-left: -50px;
}

.car-image img{
  width: 300px;
}

.blue-button {
  color: black;
  font-weight: bold;
  background-color: #01b0d2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.blue-button a:hover {
  color:white;
}

ol {
  list-style-type: disc;
  margin: 20px;
  padding: 0px;
}

ol li {
  padding-bottom: 20px;
}

.upgrades {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue-box {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color: #01b0d2;
}

.upgrade a {
  text-decoration: underline;
  color: blue;
}