<!-- views/inventory/management.ejs -->

<!DOCTYPE html>
<html lang="en">
  <body>
        <div class="managment-container">
            <div class="managment">
                <%- managementView %>
            </div>
            <!-- Display flash message -->
            <%- messages() %>
        </div>
    </body>
</html>