<!-- views/inventory/management.ejs -->
<div class="managment-container">
    <div class="managment">
        <%- managementView %>
    </div>
    <!-- Display flash message -->
    <%- messages() %>
</div>
