
<!-- Content heading -->
<% if (title) { %>
    <h1 class="error-title"><%= title %></h1>
<% } else { %>
    <% res.redirect('/'); %>
<% } %>

<!-- Display error message -->
<% if (message) { %>
    <p class="error-message"><%= message %></p>
<% } %>