<!-- Content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <% res.redirect('/'); %>
<% } %>

<!-- Display error message -->
<% if (message) { %>
    <p><%= message %></p>
<% } %>